<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <h3>Welcome</h3>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">See veihicles</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Rent a vehicle</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Change your data</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <h3>Welcome</h3>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Add a user</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Add a vehicle</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">See all rents</a></li>
      </ul>
    </div>
  </div>
</header>
