<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <ng-container *ngIf="listType==='r'">
      <h2>Rents list</h2>
      <app-my-table [tableConfig]="tableconfigR" [data]="rents" (outputTab)="getAction($event.action, $event.row)"></app-my-table>
    </ng-container>
    <ng-container *ngIf="listType==='v'">
      <h2>Vehicles list</h2>
      <app-my-table [tableConfig]="tableconfigV" [data]="vehicles"(outputTab)="getAction($event.action, $event.row)"></app-my-table>
    </ng-container>
    <ng-container *ngIf="listType==='u'">
      <h2>Users list</h2>
      <app-my-table [tableConfig]="tableconfigU" [data]="users" (outputTab)="getAction($event.action, $event.row)"></app-my-table>
    </ng-container>
  </div>
</div>
