<form #carForm="ngForm" (ngSubmit)="addOrUpdate(carForm.value)">
  <div class="input-group mb-3">
    <span class="input-group-text" >Car brand</span>
    <input type="text" class="form-control" name="carBrand" placeholder="Car brand" ngModel>
    <span class="input-group-text">Model</span>
    <input type="text" class="form-control" name="model" placeholder="Model" ngModel>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text">Registration year</span>
    <input type="text" class="form-control" name="registrationYear" placeholder="Registration year" ngModel>
    <span class="input-group-text">Type</span>
    <input type="text" class="form-control" name="type" placeholder="Type" ngModel>
  </div>
  <button type="submit" class="btn btn-outline-primary">Primary</button>
</form>

