<!-- INPUT GROUP -->
<div class="input-group mx-auto">
  <span class="input-group-text">Filter by:</span>
  <select class="form-select" #column>
    <option *ngFor="let column of tableConfig.search.columns">{{column}}</option>
  </select>
  <span class="input-group-text">Text to search:</span>
  <input type="text" class="form-control" (keyup)="searchText($event.target, column.value)">
  <ng-container *ngFor="let a of tableConfig.actions">
    <app-my-button *ngIf="a.buttonTop===true" (click)="clickButton({text:a.text},null)"
                   [buttonConfig]=
                     "{customCssClass:a.customClass,text:a.text, icon:a.icon}">
    </app-my-button>
  </ng-container>
</div>

<!-- TABLE -->
<table class="table table-bordered mx-auto">
  <thead class="table-dark">
  <tr>
    <th *ngFor="let header of tableConfig.headers" (click)="setSort(header.key)" scope="col">
      {{header.label}}
      <i [ngClass]="[orderType === 'asc' ? 'fa fa-arrow-up' : 'fa fa-arrow-down']"></i>
    </th>
    <ng-container *ngFor="let a of tableConfig.actions" >
    <th  *ngIf="a.buttonTop===false"  scope="col" style="width: 80px">

    </th>
    </ng-container>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let d of data  | pagination :numPageSelected:numberItem4Page | sortPipe : key:  orderType ">
    <th scope="row" *ngFor="let header of tableConfig.headers">{{d[header.key] }}</th>
    <ng-container *ngFor="let a of tableConfig.actions" >
        <th scope="row" *ngIf="a.buttonTop===false" >
          <app-my-button [buttonConfig]=
                           "{customCssClass:a.customClass,text:a.text, icon:a.icon}"
                         (click)="clickButton({text:a.text},d)">
          </app-my-button>
        </th>
    </ng-container>
  </tr>
  </tbody>
</table>

<!-- PAGINATION -->
<div class="input-group mb-3">
  <div class="input-group mb-auto" style="width: 20%">
    <button class="btn btn-secondary" disabled> Elements per page:</button>
    <select class="form-select" (change)="changeItemPerPage($event.target)">
      <option *ngFor="let number of tableConfig.pagination.itemPerPageOptions">{{number}}</option>
    </select>
  </div>
  <div class="btn-group" role="group" aria-label="First group" style="margin-left: 2%">
    <app-my-button (click)="prevPage()"
                   [buttonConfig]=
                     "{customCssClass:'btn btn-outline-secondary capsuleSx',text:'', icon:'fa fa-arrow-left'}">
    </app-my-button>
    <ng-container *ngIf="arrayPages.length>1">
      <app-my-button (click)="goToPage(arrayPages[0])"
                     *ngIf="numPageSelected>=3"
                     [buttonConfig]=
                       "{customCssClass:'btn btn-outline-secondary capsuleCenter',text:'First', icon:undefined}">
      </app-my-button>
      <app-my-button (click)="goToPage(numPageSelected-2)"
                     *ngIf="numPageSelected>=3"
                     [buttonConfig]=
                       "{customCssClass:'btn btn-outline-secondary capsuleCenter',text:'...', icon:undefined}">
      </app-my-button>
      <app-my-button (click)="goToPage(numPageSelected-1)"
                     *ngIf="numPageSelected>1"
                     [buttonConfig]=
                       "{customCssClass:'btn btn-outline-secondary capsuleCenter',text:(numPageSelected-1).toString()
                       , icon:undefined}">
      </app-my-button>
      <app-my-button [buttonConfig]=
                       "{customCssClass:'btn btn-secondary capsuleCenter',text:(numPageSelected).toString()
                       , icon:undefined}">
      </app-my-button>
      <app-my-button *ngIf="numPageSelected<maxPage"
                     (click)="goToPage(numPageSelected+1)"
                     [buttonConfig]=
                       "{customCssClass:'btn btn-outline-secondary capsuleCenter',text:(numPageSelected+1).toString()
                       , icon:undefined}">
      </app-my-button>
      <app-my-button
        *ngIf="maxPage>=5 && numPageSelected+2<=maxPage && numPageSelected+1<=maxPage && numPageSelected<maxPage"
        (click)="goToPage(numPageSelected+2)"
        [buttonConfig]=
          "{customCssClass:'btn btn-outline-secondary capsuleCenter',text:'...'
                       , icon:undefined}">
      </app-my-button>
      <app-my-button *ngIf="numPageSelected<=maxPage-1"
                     (click)="goToPage(arrayPages[maxPage-1])"
                     [buttonConfig]=
                       "{customCssClass:'btn btn-outline-secondary capsuleCenter',text:'Last'
                       , icon:undefined}">
      </app-my-button>
    </ng-container>
    <app-my-button (click)="nextPage()"
                   [buttonConfig]=
                     "{customCssClass:'btn btn-outline-secondary capsuleDx',text:'', icon:'fa fa-arrow-right'}">
    </app-my-button>
  </div>

  <div class="input-group mb-auto" style="width: 20%; margin-left: 2%">
    <button class="btn btn-secondary" disabled>Go to page</button>
    <select class="form-select" (change)="searchPage($event.target)" #toPage>
      <option *ngFor="let p of arrayPages">{{p}}</option>
    </select>
  </div>


</div>
