<div class="container my-5 mx-auto">
  <h2 style="margin-bottom: 2%">Rent form</h2>
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5  align-items-center rounded-3 border shadow-lg">
    <form #rentForm="ngForm" (ngSubmit)="addOrUpdateRent(rentForm.value)">
      <div class="input-group mb-3">
        <span class="input-group-text">Start date:</span>
        <input type="date" class="form-control" name="startDate" placeholder="" [(ngModel)]="rent.startDate"
               (change)="resetFindFreeVehicles()" #startDate="ngModel" required>
        <span class="input-group-text">End date:</span>
        <input type="date" class="form-control" name="endDate" placeholder="" [(ngModel)]="rent.endDate"
               (change)="resetFindFreeVehicles()" #endDate="ngModel" required>
      </div>

      <div *ngIf="(startDate.errors?.['required'] && (startDate.dirty || startDate.touched))
      ||
      (endDate.errors?.['required']&& (endDate.dirty || endDate.touched))">
        Start and end date are required.
      </div>

      <ng-container *ngIf="rent.startDate && rent.endDate" >
        <div class="input-group mb-3" >
          <span class="input-group-text">Vehicle</span>
        <select class="form-select" name="vehicleDto" [(ngModel)]="rent.vehicleDto" required>
          <option *ngFor="let v of vehicleList" value="{{v.id}}">{{v.carBrand + " " + v.model}}</option>
        </select>
        </div>
      </ng-container>

      <input type="hidden" [(ngModel)]="rent.id" name="id" [value]="rent.id">
      <div class="input-group mb-3">
        <div class="col-auto">

          <button type="submit" class="btn btn-outline-primary" [disabled]="!rentForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
