<div class="container my-5 mx-auto">
  <h2 style="margin-bottom: 2%">Rent form</h2>
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5  align-items-center rounded-3 border shadow-lg">
    <form #rentForm="ngForm" (ngSubmit)="addOrUpdateRent(rentForm.value)">
      <div class="input-group mb-3">
        <span class="input-group-text">Start date:</span>
        <input type="date" class="form-control" name="startDate" placeholder="" [(ngModel)]="rent.startDate"
               (change)="modelChangeOnStartDate(startDate.value)" #startDate="ngModel" required>
      </div>

      <div class="input-group mb-3" *ngIf="startDateValidation">
        <span class="input-group-text">End date:</span>
        <input type="date" class="form-control" name="endDate" placeholder="" [(ngModel)]="rent.endDate"
               (change)="modelChangeOnEndDate(endDate.value)" #endDate="ngModel" required>
      </div>

      <ng-container *ngIf="startDateValidation&&endDateValidation" >
        <div class="input-group mb-3" >
          <span class="input-group-text">Vehicle</span>
        <select class="form-select" name="vehicleDto" [(ngModel)]="rent.vehicleDto" required>
          <option *ngFor="let v of vehicleList" value="{{v.id}}">{{v.carBrand + " " + v.model}}</option>
        </select>
        </div>
      </ng-container>

      <input type="hidden" [(ngModel)]="rent.id" name="id" [value]="rent.id">
      <div class="input-group mb-3">
        <div class="col-auto">
          <div>
            <p *ngFor="let m of messages" > {{m}}</p>
          </div>
          <button type="submit" class="btn btn-outline-primary" [disabled]="!rentForm.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
