<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Start date:</span>
  <input type="date" class="form-control" name="startDate" placeholder="">

  <input type="date" class="form-control" name="endDate" placeholder="">
</div>
<div class="input-group mb-3" > <!-- *ngIf="rent.startDate&&rent.endDate" -->
  <span class="input-group-text" id="basic-addon2">Veicolo</span>
  <select class="form-select">
    <option *ngFor="let v of vehicleList">{{v.carBrand + " " + v.model}}</option>
  </select>
</div>
