<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" routerLink="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a routerLink="/list/vehicle" class="nav-link px-2 text-white">Veihicles</a></li>

          <li><a routerLink="/form/vehicle" class="nav-link px-2 text-white">Rent a vehicle</a></li>
          <li><a routerLink="/form/user" class="nav-link px-2 text-white">Change your data</a></li>

          <li><a routerLink="/form/user" class="nav-link px-2 text-white">Add a user</a></li>
          <li><a routerLink="/form/vehicle" class="nav-link px-2 text-white">Add a vehicle</a></li>
          <li><a routerLink="/list/rent" class="nav-link px-2 text-white">Rents</a></li>
          <li><a routerLink="/list/user" class="nav-link px-2 text-white">Users</a></li>
      </ul>


      <div class="text-end">
        <a routerLink="/form" [queryParams]="{ft:'l'}" class="nav-link px-2 text-white">Login</a>
      </div>

    </div>
  </div>
</header>
