<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Name</span>
  <input type="text" class="form-control" name="name" placeholder="Name">
  <span class="input-group-text" id="basic-addon2">Surname</span>
  <input type="text" class="form-control" name="surname" placeholder="Surname">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Birthday</span>
  <input type="date" class="form-control" name="birthday" placeholder="">
</div>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Username</span>
  <input type="text" class="form-control" name="username" placeholder="Username">
  <span class="input-group-text" id="basic-addon2">Password</span>
  <input type="password" class="form-control" name="password" placeholder="Password">
</div>


